/* Aplicar ao arquivo global ou específico do componente Weather */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 600px;
  outline: none;
  font-size: 20px;
}
.buttons{
  padding: 10px;
  align-items: center;
}

button {
  margin: 5px 10px 5px 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

.container_map_weather {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.container_map, .container_weather {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.container_map {
  display: flex;
  height: 400px;
  width: 700px;
  justify-content: center;
  padding-top: 40px;
}

.container_weather{
  padding: 40px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.container_map_weather{
  display: flex;
  justify-content: center;
}
  

h1, h2, h3 {
  margin: 0 0 10px 0;
  color: #3498db;
  align-self: center;
}

h3 {
  font-size: 1.2em;
}

.container_weather_actual_points {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container_weather_actual_points li {
  border: 1px solid #3498db;
  border-radius: 15px;
  margin-bottom: 15px; 
  padding: 15px; 
}

.container_weather_actual_points li > svg {
  margin-right: 10px; 
}

li {
  list-style-type: none;
  border: 1px solid #3498db;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px;
}

p {
  margin: 0 0 5px 0;
  color: #555;
}

@media (max-width: 768px) {
  .container_map_weather {
    flex-direction: column;
    align-items: center;
  }

  .container_map {
    width: 100%;
  }

  input[type='text'] {
    width: 100%;
  }
}

.mapa{
  height: '400px';
  width: '500px';
}