.footer {
  display: flex;
  color: #7a7a7a;
  text-align: left;
  padding: 20px 0;
  margin-top: 20px;
  font-size: 16px;
  align-items: center;
  
}

.footer .text {
  margin-left: 5px;
}
.footer a {
  color: #222;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #888;
}
.footer svg{
  background-color: #222;
  border-radius: 100%;
  border:solid 1px #222;
}